html { height: 100%; }
body { height: 100%; padding-top: 30px; }
#map_canvas {
    height: 400px;
}
.content .row-fluid {
    margin-bottom: 30px;
}

.logo {
    text-align: center;
    border-bottom: 3px solid black;
    margin: 0 20px;
    padding-bottom: 20px;
}

.logo img {
    width:150px;
}

.paper {
    padding-top: 20px;
    box-shadow: 0px 1px 13px #ccc;
    min-height: 1200px;
}

.banner {
    margin: 0 20px;
}

.banner img {
    width: 100%;
}

.wrap {
    margin: 0 20px;
}

.headline {
    width: 680px;
    float: left;
}

.headline p {
    font-size: 20px;
}
.sideimage {
    width: 450px;
    padding-top: 20px;
    float: right;
}

.sideimage img {
    width: 100%;
}

.headline h1 {
    font-family: serif;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 60px;
}

.data {
    clear: both;
    margin-top: 20px;
}

#charts {
    width: 680px;
    float: left;
}

#team {
    width: 450px;
    float: right;
}

.top:after {
    content:"";
    clear: both;
    display: block;
}

#team img {
    width: 450px;
}